<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeclan.example.rps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ActivityPlay"
            android:label="@string/activity_play_title"
            android:parentActivityName=".WelcomeActivity">
        </activity>

        <activity
            android:name=".ActivityResult"
            android:label="@string/activity_result_title"
            android:parentActivityName=".ActivityPlay">
        </activity>



    </application>

</manifest>